on: [push]
name: build-osx
jobs:
  build:
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: build
        uses: actions-rs/cargo@v1
        with:
          command: build
      - name: test
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: e2e-test
        run: |
          bash -i scripts/e2e-test.sh bash
          zsh -i scripts/e2e-test.sh zsh
      - name: build-release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cargo build --release
          cp ./target/release/tome ./target/release/tome-osx
      - name: release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./target/release/tome-osx
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true